 body, html {
	background-color:black;
	color:black;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.wrapper {
  font: 1.2em sans-serif;

  height: 40em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
	border: 2px solid rgb(95 97 110);
	border-radius: 0.5em;
	padding: 20px;
	width: 10em;
	color:white;
}

.header {
  border: 2px solid rgb(95 97 110);
  border-radius: 0.5em;
  padding: 20px;
  width: 10em;
  color:white;
}


